@keyframes pick {
    0% { position: absolute; left: 50%}
    100% { position: absolute; left: 0   }
}

@keyframes active {
    0% { transform: rotate(0deg);}
    50% { transform: rotate(180deg);}
    100% { transform:  rotate(360deg);}
}

@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@keyframes pulse {
    0% {
      background-color: red;
    }
    10% {
        background-color: purple;
    }
    20% {
        background-color: blue;
    }
    30% {
        background-color: black;
    }
    40% {
        background-color: green;
    }
    50% {
        background-color: yellow;
    }
    60% {
        background-color: orange;
    }
    70% {
        background-color: white;
    }
    80% {
        background-color: blue;
    }
    90% {
        background-color: purple;
    }
    100% {
        background-color: red;
    }
}