@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html, body, #root{
  background-color: #DEB887;
  overflow: hidden;
}

.MuiCardMedia-root {
  transition: all 1s !important;
}

::-moz-selection { background: #8B4513; color: #fff }
::selection { background: #8B4513; color: #fff }

.MuiAvatar-root {
  transition: all 0.2s ease-in-out;
}

* {
  font-family: 'Montserrat', sans-serif !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #D2B48C;
}

::-webkit-scrollbar-thumb {
  background: #A0522D;
}

::-webkit-scrollbar-thumb:hover {
  background: #8B4513;
}